@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
  h1 {
    font-family: "Newsreader", serif;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
  }
  .prose .ql-align-left {
    @apply text-left;
  }
  .prose .ql-align-center {
    @apply text-center;
  }
  .prose .ql-align-right {
    @apply text-right;
  }
  .prose .ql-align-justify {
    @apply text-justify;
  }
  .prose .ql-align-start {
    @apply text-start;
  }
  .prose .ql-align-end {
    @apply text-end;
  }
  ul {
    @apply list-disc list-inside;
  }
  ol {
    @apply list-decimal list-inside;
  }
}
